{{extends "../layout/main.jet.html"}}

{{ block body()}}

<div class="title-box">
    <a class="title-btn shadow title-btn" href='/'>
        <i class="bi bi-arrow-left-short"></i>
    </a>
    <h1 class="page-title">Files</h1>
    <a class="title-btn" href='/' style="visibility: hidden">
        <i class="bi bi-arrow-left-short"></i>
    </a>
</div>

<div class="file-list_body">
<!--    <div class="file-list_header"></div>-->
    <div class="files-box">
        {{ if data.PrevPath != "" }}
            <a class='file_box shadow file-btn' href='/files/{{data.PrevPath}}'>
                <div class='file_back_button'>
                    <i class="bi bi-arrow-left-short"></i>
                </div>
            </a>
        {{ end }}

        {{ if data.FilesCount > 0 }}
            {{range _, file := data.Folders}}
            <a class='file_box shadow file-btn' href='/files/{{ file.Link }}'>
                <div class='file_button folder'>
                    <i class="bi bi-{{file.Icon}}"></i>
                </div>
                <div class="file_desc">
                    {{file.Name}}
                </div>
            </a>
            {{end}}

            {{range _, file := data.Files}}
                <div class='file_box shadow file-btn'>
                    <div class='file_button'>
                        <i class="bi bi-{{file.Icon}}"></i>
                    </div>
                    <div class="file_desc">
                        {{file.Name}}
                    </div>
                </div>
            {{end}}
        {{else}}
            <div class="message">
                Category is empty
            </div>

            {{ if data.PrevPath != "" }}
                <!--      to center the message      -->
                <a class='file_box' style="visibility:hidden"></a>
            {{ end }}
        {{end}}
    </div>
</div>



<!--<div class="file-list_body">-->
<!--    <div class="file-list_header"></div>-->
<!--    {{range _, file := data.Files}}-->
<!--    <div class="file-list_row">-->
<!--        <i class="bi bi-{{file.Icon}}"></i>-->
<!--        {{file.Name}}-->
<!--    </div>-->
<!--    {{end}}-->
<!--</div>-->
{{ end }}